<div class="call-back row">

    <div class="form col-md-4">
        <app-callback-form></app-callback-form>

    </div>
    <div class="call-back-messages col-md-8">
        <div class="call-back-title title">Отзывы</div>
        <div class="messages">
            <div class="message">
                <div class="message__detail">
                    <div class="message__date">
                        22-01-2021
                    </div>
                    <div class="message__name">
                        Алексей 
                    </div>
                </div>
                <div class="message__text">
                    Прекрасные торты каждый день
                </div>
            </div>
            <div class="message">
                <div class="message__detail">
                    <div class="message__date">
                        22-01-2021
                    </div>
                    <div class="message__name">
                        Алексей 
                    </div>
                </div>
                <div class="message__text">
                    Прекрасные торты каждый день
                </div>
            </div>
            <div class="message">
                <div class="message__detail">
                    <div class="message__date">
                        22-01-2021
                    </div>
                    <div class="message__name">
                        Алексей 
                    </div>
                </div>
                <div class="message__text">
                    Прекрасные торты каждый день
                </div>
            </div>
        </div>
    </div>
</div>