<div class="callback col-md-12">
    <div class="callback-title title">
        Форма обратной связи
    </div>
    <form #form='ngForm' (submit)='createReview(form)'>
        <div class="form-message allert" *ngIf='errMsg != null'>
            {{errMsg}}
        </div>
        <div class="form-group">
            <label for="">Имя</label>
            <input ngModel name="username" type="text" class="form-control" placeholder="Ваше имя..." required>
        </div>
        <div class="form-group">
            <label for="">Почта</label>
            <input ngModel name="mail" type="email" class="form-control" placeholder="Ваша почта..." required>
        </div>
        <div class="form-group">
            <label for="">Cообщение</label>
            <!-- <input type="email" class="form-control" placeholder="Ваше сообщение..." required> -->
            <textarea ngModel name="description" class="form-control" cols="30" rows="2"
                placeholder="Ваше сообщение..."></textarea>
        </div>

        <div class="form-group">
            <button type="submit" class="btn btn-primary">Отправить</button>
        </div>
    </form>
</div>