<div class="offer-form">
    <form class="offer" #form='ngForm' (submit)='offer(form)'>
        <div class="form-title title">
            Заказать торт
        </div>
        <div class="form-group allert" [ngClass]="{isAllert: isAllert}">
            {{allert}}
        </div>

        <div class="form-group">
            <label for="">Имя</label>
            <input ngModel type="text" name="username" class='form-control' placeholder="Ваше имя...">
        </div>
        <div class="form-group">
            <label for="">Телефон</label>
            <input ngModel type="phone" name="userphone" class='form-control' placeholder="Ваш телефон...">
        </div>
        <div class="form-group">
            <label for="">Почта</label>
            <input ngModel type="email" name="usermail" class='form-control' placeholder="Ваша электронная почта">
        </div>

        <div class="form-group check">
            <label for="">Мы работаем только по адресу г.Костанай</label>
            <input type="checkbox" (click)='isAgree()'>
        </div>

        <div class="form-group">
            <button class="btn-primary btn" [disabled]='agree'>Связаться</button>
        </div>
    </form>
</div>