.offer-page-title {
    margin-bottom: 15px;
}
.offer-page-table {
    table {
        table-layout: fixed;
        border-collapse: separate;
        border-spacing: 0px 25px;

        thead {
            border-bottom: 1px solid #ceecee;
            padding: 10px 10px;
            tr > th {
                color: #4e4e4e;
                &.name {
                    width: 150px;
                }
                &.phone {
                    width: 200px;
                }
                &.mail {
                    width: 150px;
                }
                &.date {
                    width: 150px;
                }
                &.details {
                    width: 500px;
                }
                &.controls {
                    width: 200px;
                }
            }
        }
        tbody {
            tr > td {
                padding-bottom: 10px;
                border-bottom: 1px solid #ceecee;
            }
        }
    }
}
@media screen and (max-width: 600px) {
    .offer-page-title {
        margin-top: 15px;
        padding: 0px 10px;
    }
    .offer-page-table {
        padding: 0px 10px;
        overflow-x: auto;

        table {
            border-spacing: 0;
            thead {
                tr > th {
                    padding: 0px 10px;
                }
            }
            tbody {
                tr > td {
                    padding: 0px 10px;
                    border-left: 1px solid #cecece;

                }
            }
        }
    }
}

.ctr-btn {
    text-decoration: underline;
    cursor: pointer;
    color: #2d2d2d;
    text-decoration: underline;
    &:hover {
        color: red;
        
    }
}