.cake-name {
    margin-bottom: 5px;
    &.name {
        // font-weight: 700;
    }
    span {
        color: #c4c4c4;
        font-weight: 400;
    }
}

@media screen and (max-width: 600px) {
    .cake-name {
        display: flex;
        flex-direction: column;
        margin-bottom: 10px;
    }
}
