.brand {
    font-weight: 700;
    color: #000;
}

.contacts-title {
    margin-bottom: 30px;
}

.address {
    margin-bottom: 20px;
}

$titleColor: #ffc107;
a {
    font-weight: 700;
    color: #000;
    text-decoration: underline;

    &:hover {
        color: $titleColor;
    }
}
.info-det {
    display: flex;
    flex-direction: column;
    .phone {
        display: flex;
        flex-direction: column;
        .mail {
            margin-bottom: 15px;
        }
    }
}

.contacts-info {
    display: flex;
    flex-direction: column;
}

@media screen and (max-width: 600px){
    .contacts-info {
        display: flex;
        padding: 0px 10px;
    }
    #map {
        // display: none;
        height: 300px;
    }
    .contacts {
        padding: 0px 10px;
    }
}