<div class="contacts">
    <div class="container contacts__inner">
        <div class="contacts-title">
            <h1 class="title">Контакты</h1>
        </div>
        <div class="">
            <div class="col-md-3 col-12 contacts-info">
                <div class="info-det">
                    <span class="brand">Leila Cakebery</span>
                    <span class="address">
                        Костанай<br>ул. Баймагамбетова 12 а
                    </span>
                    <span class="phone">
                        Кондитерская<br>
                        <b>+7 777 55-41-94</b>
                        <div class="whatsappContactPage">
                            <div>
                                <a class="whatsapp" href="whatsapp://send?phone=+7 (777) 978-55-47">
                                    WhatsApp
                                </a>
                            </div>
                        </div>
                        <br><span class="mail">leila-cakebery.guest@gmail.com</span>
                        Обучение<br>
                        <b> +7 777 55-41-94</b>
                        <div class="whatsappContactPage">
                            <div>
                                <a class="whatsapp" href="whatsapp://send?phone=+7 (777) 978-55-47">
                                    WhatsApp
                                </a>
                            </div>
                        </div>
                        <br><span class="mail">leila-cakebery.guest@gmail.com</span>
                    </span>
                </div>
            </div>
            <div class="col-md-9 map" id="map">
                <!-- <google-map></google-map> -->
            </div>
        </div>
    </div>
</div>