$hoverColor: #fa9e15;
.menuBtn {
    display: none;
}

.nav__link {
    margin-right: 30px;
    text-decoration: none;
    color: black;
    position: relative;
    font-weight: 700;
    cursor: pointer;
    padding-bottom: 10px;
    &::after {
        content: "";
        background-color: $hoverColor;
        width: 0%;
        height: 1px;
        position: absolute;
        bottom: 0;
        left: 0;
        transition: 0.3s ease-in-out;
    }
    &:hover {
        color: $hoverColor;
    }
    &:hover::after {
        width: 100%;
    }
    &:last-child {
        margin-right: 0px;
    }
}

nav {
    text-align: right;
}
@media screen and (max-width: 600px) {
    :host {
        text-align: right;
    }
    nav {
        position: fixed;
        top: 80px;
        left: 0;
        background-color: #fff;
        height: 0vh;
        width: 100%;
        display: flex;
        flex-direction: column;
        text-align: left;
        padding-left: 10px;
        overflow: hidden;
        transition: 0.3s ease-in-out;
        .nav__link {
            margin: 10px 0px;

        }
    }
    //For nav displaying
    .showNav {
        height: 100vh;
    }

    .menuBtn {
        display: block;
        transition: 0.3s ease-in-out;
    }
    .isOpen {
        text-decoration: underline;
        color: #fa9e15;
    }
}
