.category {
    padding: 100px 0px;
}

.category-title {
    margin-bottom: 10px;
}
.category-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    form {
        // width: 50%;
        border: 1px solid #cecece;
        border-radius: 6px;
        padding: 10px 15px;
    }
}

@media screen and (max-width:600px){
    .category {
        padding: 0 10px;
        margin-top: 20px;
    }
    .category-form {
    }
    .list {
        display: flex;
        flex-direction: column;
        justify-content: center;

    }
}