<div class="category row">
    <div class="category-form col-md-4">
        <form #categoryForm='ngForm' (submit)='category(categoryForm)'>
            <div class="category-progress">
                {{percentage}}
            </div>
            <div class="form-group">
                <div class="form-title title">
                    Создание новой категории
                </div>
            </div>
            <div class="form-group">
                <label for="">Название</label>
                <input type="text" class="form-control" placeholder="Название категории" name="title" ngModel required>
            </div>
            <div class="form-group">
                <label for="">Обложка</label>
                <input type="file" class="form-control" accept=".jpg, .png" name="category_img"
                    (change)='categoryThumb($event)' required>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary">Создать</button>
            </div>
        </form>
    </div>
    <div class="category-list col-md-8">
        <div class="category-title title">
            Категории
        </div>
        <app-cattegory-card *ngFor='let category of categories' [item]='category'></app-cattegory-card>
        <div class="list">


            <!-- <div class="category-item row" *ngFor='let category of categories'>
                
                <div class="category__img col-md-2">
                    <img src="{{category.url}}" alt="">
                </div>
                <div class="category__title col-md-4">
                    {{category.title}}
                </div>
                <div class="category__btn col-md-6">
                    <a class="col-md-4 admin-link" (click)='categoryDelete(category.id)'>Удалить</a>
                    <a class="col-md-4 admin-link">Редактировать</a>
                </div>
            </div> -->
        </div>
    </div>
</div>