.cake__image {
    display: flex;
    height: 150px;
    img {
        object-fit: cover;
        width: 100%;
        border-top-left-radius: 6px;
        border-top-right-radius: 6px;
    }
}
.cake-info {
    padding-left: 5px;
}

.cake__title {
    font-weight: 700;
    font-size: 19px;
}
.cake-item {
    padding: 25px 15px;
}

.formVisible {
    display: block !important;
}

.edit-form {
    display: none;
    .form-title {
        margin-bottom: 7px;
    }
    margin: 10px 0px;
    padding: 0px 5px;
    border-radius: 6px;
    border: 1px solid #cecece;

    form {
        input {
            margin-bottom: 7px;
        }
        .btn {
            font-size: 18px;
        }
    }
}