<div class="info-page">
    <div class="container">
        <div class="info__inner">
            <div class="info-page-title title">
                Дополнительная информация
            </div>
            <div class="info">
                <div class="info-text">
                    <div class="info-title title_2">
                        Производство продукции
                    </div>
                    <div class="info-text">
                        Для приготовления используются только натуральные продукты. Можно выбрать любые коржи (безе,
                        суфле,
                        бисквит) и начинку (глазурь, лёгкий сливочный крем, фрукты, орехи, ягоды). Наши кондитеры
                        скорректируют рецептуру, если у ребёнка аллергия на тот или иной продукт. Приготовленный торт
                        будет
                        сюрпризом для малыша, так как его доставят на дом в канун праздника. Стоимость зависит от веса и
                        используемых продуктов. Если вы решили купить торт малышу на его первый день рождения, он должен
                        быть особенным, наши мастера позаботятся об этом.
                    </div>
                </div>
                <div class="info-text">
                    <div class="info-title title_2">
                        Почему именно кондитерская LEILA CAKEBERY
                    </div>
                    <div class="info-text">
                        Мы предлагаем заказать лучшие торты на любую тематику. Сотрудничество с нами имеет следующие
                        преимущества:
                        <ul>
                            <li> Высокое мастерство кондитеров. Большой опыт и квалификация специалистов гарантируют
                                безупречное качество заказов.
                            </li>
                            <li> Достойный уровень сервиса. Тщательное соблюдение сроков (1–7 дней) и
                                оперативная доставка не заставят вас волноваться. При необходимости мы выполним срочный
                                заказ.

                            </li>
                            <li>
                                Огромный ассортимент. Вы сможете заказать оригинальный десерт на любую тематику, который
                                идеально
                                впишется в ваше торжество.
                            </li>

                            <li>
                                Натуральные продукты. Отсутствие в выпечке консервантов и красителей
                                гарантирует безопасность для здоровья.
                            </li>
                        </ul>
                        Закажите свой идеальный торт и наслаждайтесь эффектом,
                        который он произведёт на всех присутствующих.
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>