.info-page-title {
    margin-bottom: 15px;
}

.info-text {
    .info-title {
        margin-bottom: 5px;
    }
    margin-bottom: 30px;
}
@media screen and (max-width:600px){
    .info-page {
        margin-top: 80px;
        padding: 0px 10px;
    }
}